h3.budgets {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	margin-bottom: 1rem;
	padding: 0.5rem;
}

.budget-item {
	font-size: 125%;
	padding: 1rem 0.5rem;
	border-bottom: 1px solid #ddd;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}
.budget-item:hover {
	background-color: #eee;
}

