/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6 {
margin: 0;
padding: 0
}
h1,h2,h3,h4,h5,h6 {
font-size: 100%;
font-weight: normal
}
ul {
list-style: none
}
button,input,select,textarea {
margin: 0
}
html {
box-sizing: border-box
}
*,*:before,*:after {
box-sizing: inherit
}
img,embed,iframe,object,audio,video {
height: auto;
max-width: 100%
}
iframe {
border: 0
}
table {
border-collapse: collapse;
border-spacing: 0
}
td,th {
padding: 0;
text-align: left
}
html {
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-size: 10pt;

--header-height: 40px;
--action-height: 50px;
--enter-height: 360px;
--budget-stats-height: 190px;
}
code {
font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}

h1 { font-size: 150%; }
h2 { font-size: 125%; }
h3 { font-size: 110%; }
button {
	border: none;
	border-radius: 5px;
	background-color: transparent;
	padding: 0.5rem;
}
button:hover {
	background-color: #ddd;
}
input, button {
	cursor: pointer;
}

